
@import "bootstrap/_variables.scss";

//choice buttons
#config-param {
  label {
    display: block;
  }
  .dd-mod {
    display: inline-block;
    //static button's width
    .btn-conf {
      width: 115px;
      height: 33px;
      &#b10 {
        width: 220px !important;
      }
    }
    ul {
      max-height: 160px;
      min-width: 140px;
      overflow-y: scroll;
      li {
        &.header {
          color: $brand-danger;
        }
        padding: 5px 10px;
        &:hover{
          cursor: pointer;
          color: #262626;
          background-color: #f5f5f5;
        }
      }
    }
  }
  .btn-configurate {
    display: block;
    margin: 25px auto;
  }
}
//-----------Modal Mounting Parts----------//
#modalMountingParts {
  .mp-param {
    display: inline-block;

    &:nth-child(3) .dd-mod{
      margin-right: 0;
    }
    label#label_valve_unit {text-indent: 15px}
    label#label_mounting {text-indent: 40px}
  }
  .modal-body {
    padding: 30px 15px 150px 15px;
  }
  .dd-mod {
    //display: inline-block;
    margin-right: 30px;

    //&:nth-child(3){
    //  margin-right: 0;
    //}
    .btn {
      padding: 6px 6px;
    }
    .btn-conf {
      width: 155px;
      height: 35px;
    }
    ul {
      max-height: 160px;
      min-width: 170px;
      overflow-y: scroll;
      li {
        &.header {
          color: $brand-danger;
        }
        padding: 5px 10px;
        &:hover{
          cursor: pointer;
          color: #262626;
          background-color: #f5f5f5;
        }
      }
    }
  }
}

//-----------text----------//
.primary-text {
  font-size: 1.3em;
}
//----------Modal----------//
#notFilled {
  display: none;
}
